@import url(//fonts.googleapis.com/css?family=Oxygen+Mono%7CSource+Sans+Pro:400,300,300italic,400italic,600,600italic%7CExo:400,100,100italic,200,200italic,300,300italic,400italic,500italic,500,600,600italic);

html { 
  background: url(http://centos.org/images/background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /* navbar needs this */
  padding-top: 70px;
  padding-bottom: 30px;

  background-color: rgba(32, 74, 135, 0.15);
  font-family: "Source Sans Pro", sans-serif;
  color: #ccc;
  font-weight: 300;
  /* hack for font sharpness on ffox */
  text-shadow: 0 0 0px rgba(white, 0.0);
}

h1, h2, h3, h4, h5, h6  {
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.navbar-inverse {
  background: rgba(0,0,0, 1);
}

.navbar-header  a.navbar-brand {
  margin: 0;
  padding: 0;
  border: none;

  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

a.dropdown-toggle, a.dropdown-toggle:link {
  color: white !important;
}

a.dropdown-toggle:active, a.dropdown-toggle:hover {
  color: #eee !important;
}

a.navbar-brand, a.navbar-brand:link {
  color: white !important;
}

a.navbar-brand:active, a.navbar-brand:hover {
  color: #eee !important;
}

.navbar-brand .logo {
  margin-bottom: 10px;
}

.datestamp {
  background: rgba(255,255,255, 0.1);
}

blockquote {
  border-left: 5px solid rgba(255,255,255, 0.1);
  font-size: 100%;
}

pre, code {
  font-family: "Oxygen Mono", monospaced;
  background: rgba(0,0,0,0.5);
  color: white;
  border: 1px solid rgba(0,0,0,0.8);
}

hr {
  height: 0;
  border: 1px solid rgba(0,0,0, 0.3);
}
